{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <h3> {{pitches.username| capitalize}} </h3>
        </div>
        <div class="col-sm-6 row justify-content-center">
            <div class="card">
                {% if pitches.profile_pic_path %}
                <img src="{{url_for('static',filename=pitches.profile_pic_path)}}"  class="img-thumbnail profile-image">
                {% endif %}
            </div>
        </div>
        <div class="col-sm-3">
            Email
        </div>
    </div>
    <h3>{{pitches.pitches}}</h3> <hr>
    <div class="row">

    </div>
</div>
{% endblock %}